.bloco1 #fundo {
    position: absolute;
    height: 1110px;
    width: 1890px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

    background: url(Design\ sem\ nome\ \(7\).png);
}

.menu {
    display: flex;
    align-items: center;

}

.menu div {
    padding: 20px;
    height: 80px;
}

.menu div {

    margin: 0%;
    position: absolute;
    height: 80px;
    width: 1558px;
    left: 000px;
    top: 0px;
    border-radius: 0px;


    float: left;
}

.menu li {
    display: inline;

}

.menu li a {
    position: relative;
    height: 40px;
    width: 130px;
    left: 900px;
    top: 10px;
    border-radius: undefinedpx;
    display: inline;
    outline: none;
    text-decoration: none;
    display: inline-block;

    font-family: 'Alef';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 50px;
    padding: 30px;

    color: #fcfcfc;
}

.menu li a.contato {
    left: 860px;
}

.menu li a.op {
    color: #03AFFA;
}

.menu li a:hover {
    font-family: 'Alef';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 50px;
    color: #03AFFA;
    /* border: 1px solid rgba(5, 174, 250, 0.6); */
    display: inline-block;
    padding: 30PX;
}

#all {

    position: absolute;
    padding: auto;
    height: 80px;
    left: 125px;
    height: 55px;
    top: -12px;
    border-radius: undefinedpx;
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    /* font-weight: 800; */
    font-size: 48px;
    /* line-height: 57px; */

    color: #FFFFFF;
}

#lua {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
}

.bloco1 .text1 {
    position: absolute;
    height: 556px;
width: 667px;
left: 54px;
top: 192px;
border-radius: nullpx;

    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
line-height: 44px;

color: #CFCFCF;
}
.bloco1 .text1 #title{
    
    height: 64px;
    width: 518px;
    left: 54px;
    top: 182px;
    border-radius: nullpx;
    

    font-size: 36px;
line-height: 49px;

color: #FFFFFF;
}



.bloco1 img#py {
    position: absolute;
    height: 90px;
    width: 160px;
    left: 1276px;
    top: 980px;
    border-radius: 0px;


    background: url(3.png);
}

.bloco1 img#js {
    position: absolute;
    height: 90px;
    width: 160px;
    left: 1405px;
    top: 980px;
    border-radius: 0px;


    background: url(11.png);
}

.bloco1 img#html {
    position: absolute;
    height: 118px;
    width: 180px;
    left: 1530px;
    top: 972px;
    border-radius: 0px;


    background: url(9.png);
}

.bloco1 img#css {
    position: absolute;
    height: 110px;
    width: 160px;
    left: 1660px;
    top: 980px;
    border-radius: 0px;


    background: url(10.png);
}